extends ./layout.jade
block content
	nav(class="navbar navbar-default" style="background-color: #037E8C;")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background-color: #024959;")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				a(class="navbar-brand navegacion" href="/")
					img(alt="" src="/imgs/titulo-icono.png" style="width: 1.5em; height: 1.5em;")
			div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
				ul(class="nav navbar-nav navbar-right")
					li
						a(href="/" style="color: white;") Inicio
					li(class="active")
						a(href="#" style="color: black;") Pelicula
						span(class="sr-only") (current)
					li
						a(href="/login" style="color: white;") Login
	br

	div(class="container" style="background-color: #FFFFFA; border: 4px solid #024959; border-radius: 5px;")
		div(class="row" style="background-color: #D96459;")
			div(class="col-md-12")
				h1 #[strong(style="color: white;") Eliminar Comentario]
		br
		div(class="row")
			div(class="col-md-12 text-center")
				each x in comentario
					form(method="post" action="/comentario/#{x.id}?_method=delete")
						div(class="form-group")
							label(for="campoNombre") Nombre
							input(type="text" class="form-control" id="campoNombre" name="nombre" value="#{x.nombre}" disabled required)
							label(for="campoCorreo") Correo
							input(type="email" class="form-control" id="campoCorreo" name="correo" value="#{x.email}" disabled required)
							input(type="hidden" class="form-control" id="campoCorreo" name="idpelicula" value="#{x.idpelicula}" disabled required)
							label(for="campoComentario") Comentario
							textarea(class="form-control" rows="5" id="campoComentario" name="comentario" placeholder="Comentario" disabled required) #{x.comentario}
							button(type="submit" class="btn btn-danger") Eliminar