extends ./layout.jade
block content
	div(class="container")
		div(class="row")
			div(class="col-md-4")
				img(src="#{peli.Poster}" class="img-responsive" alt="")
			div(class="col-md-8 text-justify")
				table(class="table table-bordered")
					tbody
						div Titulo: #[small #{peli.Title}]
						div Año: #[small #{peli.Year}]
						div Clasificacion: #[small #{peli.Rated}]
						div Estreno: #[small #{peli.Released}]
						div Duracion: #[small #{peli.Runtime}]
						div Genero: #[small #{peli.Genre}]
						div Director(s): #[small #{peli.Director}]
						div Escritor(s): #[small #{peli.Writer}]
						div Actores: #[small #{peli.Actors}]
					tbody
						div Lenguaje: #[small #{peli.Language}]
						div Localizacion: #[small #{peli.Country}]
						div Premios: #[small #{peli.Awards}]
					tbody
						h4 Sipnosis
						h5 #{peli.Plot}

			div(class="panel panel-info center-block")
				div( class="span6" )
					form(class="form-signin" method="POST" action="/comentario")
						h2(class="form-signin-heading") Nombre
							input(type="text" required  name="nombre" class="input-block-level")
							h5 Email
							input(type="text" required name="correo" class="col_6" class="input-block-level")
							input(type="text" required name="idpelicula" value="#{peli.id}"  class="col_6" class="input-block-level")
							textarea(type="text" required name="comentario" rows="5" placeholder="Comentario" class="input-block-level")
							button(class="btn btn-large btn-primary" type="submit") Crear

			button(class="btn btn-large btn-primary"  type="submit") Ver comentarios
			
						h4 aqi van los comentarios 
			each x in comentarios
				h4 #{x.nombre}
				h4 #{x.email}
				h4 #{x.comentario}
				a(href="/comentario/edit/#{x.id}") 
				img(src="/imgs/pencil.png" width="15px")
				a(href="/comentario/#{x.id}/delete") 
				img(src="/imgs/minus.png" width="15px")